python-dotenv
pydantic[email]>=2.0
google-api-python-client>=2.0
google-auth-httplib2>=0.2
google-auth-oauthlib>=1.0
fastapi>=0.110
uvicorn[standard]>=0.29
streamlit>=1.32
pydantic-settings==2.14.2
chromadb
sentence-transformers
langchain-text-splitters
psycopg2-binary==2.9.12
