#Google Client Secrets
client_id=""
project_id=""
auth_uri=""
token_uri=""
auth_provider_x509_cert_url=""
client_secret=""

# Postgres (docker-compose)
postgres_host="localhost"
postgres_port=5400
postgres_db="SmartEmail"
postgres_user="ahmed"
postgres_password="ahmed232005"